.logForm
  .formHeader
    %h2
      ログイン

  .formMain
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      .formMain__list
        .field
          = f.label :メールアドレス
          %br= f.email_field :email, autofocus: true, autocomplete: "email"
      .formMain__list
        .field
          = f.label :パスワード
          %br= f.password_field :password, autocomplete: "current-password"
      .formMain__list
        .actions
          = f.submit "ログイン"
