.Wrapper
  .Header
    可視化メーター
  .Content
    %details
      %summary= icon("fas", "cogs")
      = link_to "パラメーター", "/posts/new"
      = link_to "ログアウト"
  .Main
  = form_for @post, url: post_path(@post) do |f|

    心
    = f.number_field :spirit, min: 0, max: 10
    - @post.errors.messages[:spirit].any?
    = @post.errors.messages[:spirit][0]
    時間
    技
    = f.number_field :technique, min: 0, max: 10
    時間
    体
    = f.number_field :body, min: 0, max: 10
    時間
    = f.submit "訂正"