.wrapper
  .header
    努力可視化メーター
  .content
    .contentUser
      = image_tag 'user_image.png', alt: '画像', class: 'userImage'
    .contentIcon
      %details
        %summary= icon("fas", "cogs")
        -if user_signed_in?
          .user_nav
          = link_to "マイページ", graph_post_path(current_user.id), class: "contentShow", method: :get
          %br= link_to "ログアウト", destroy_user_session_path, class: "contentShow", method: :delete
        -else
          .grid-6
          = link_to "ログイン", new_user_session_path, class: "contentShow"
          %br= link_to "新規登録", new_user_registration_path, class: "contentShow"
  .main
    .mainTitle
      %h2
      積み上げ結果
      .mainText
        .mainText__left
          
          = image_tag 'user_image.png', alt: '画像', class: 'userImage'
        .mainText__right
          .textTittle
            .textTittle__box
              = link_to "新規成果入力", new_post_path, class: "textTittle__content"
          .textContent
            - @posts.each do |post|
              .balloonLeft
                = post.created_at.strftime('%Y/%m/%d')
                心が 
                = post.spirit
                ポイント上がった！
                技が
                = post.technique
                ポイント上がった！
                体が
                = post.body
                ポイント上がった！
                = link_to '編集', edit_post_path(post.id), class: "contentEdit", method: :get
                = link_to '削除', post_path(post.id), class: "contentDelete", method: :delete